{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="note">
    <p glot-model="note1"></p>
    <p glot-model="note2"></p>
</div>
<div id="profileInfo">
    <div id="profilePictureDiv" class="profile-picture"></div>
    <div class="profile-info">
        <h1 glot-model="companyName"></h1>
        <p glot-model="departmentName"></p>
        <p id="displayNameField"></p>
        <p id="userIdProfileField"></p>
        <p id="statusMessageField"></p>
        <p>TEL：00-0000-0000</p>
        <p>FAX：00-0000-0001</p>
        <p>MAIL：meishi@example.co.jp</p>
    </div>
</div>
{% endblock %}
